.header .menu   {
    border:solid;   
    background-color:#2EB6DB;
    display:flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff;

}

.grid{
    border: 2px solid black;
    border-radius: 50px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.grid img{
    border: 2px solid #000000;
    border-radius: 50px;
}

.Oragami{

    border-radius:  20px;
    background-color: white;
    padding: 30px;
    margin: 25px;
    width: 310px;
    font-family: fantasy;
}

.body{
    margin:0px;
    background-color: #f7f2f2;
}

.Oragami:hover{
    transform: scale(1,1.5);
}

a:link{
    color: red;
}

a:visited{
    color:blue;
}